/.idea
node_modules
.DS_Store
/vendor
/.phpunit.cache
.temp_cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.env
/.env.backup
/.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.nova
/.vscode
/.zed
/resources/src/js/cabinet/pages/trade/store2
/public/platform
/public/try-demo
/.cursor
trfromphp
/.deptrac.cache
*storybook.log
storybook-static
/.claude/
/coverage/
storybook-static
/.claude/
/.history/

test-results/
playwright-report/
e2e/.auth/
.env.e2e
.ai-rules.md
CLAUDE.md
CAODE_RULES_FSD.md
CONTRIBUTING.md
.env.development
.idea
